<h1>THIS PAGE WILL DISPLAY THE CONTACT</h1>
<p>Id: <%= @contacts.id %></p>
<p><strong>First Name: </strng><%= @contacts.first_name %></p>
<p><strong>Last Name:  </strng><%= @contacts.last_name %></p>
<p><strong>Email:      </strng><%= @contacts.email %></p>
<p><strong>Note:       </strng><%= @contacts.note%> </p>
